body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    overflow: hidden;
    padding: 0;
}

.gray {
    color: #918e9b;
}

.hero {
    padding: 10px;
}

.airbnb {
    margin: auto;
    width: 550px;
    height: 70px;

}

.navbar {
    background: #FFFFFF;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 20px 36px;
}

/* Hero */
.hero img {
    display: block;
    width: 395.91px;
    height: 232px;
    margin: 26px auto;
}


.desc h2 {
    display: block;
    width: 347px;
    height: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
}

.desc p {
    display: block;
    width: 100%;
    height: 56px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 17.6px;
    color: #222222;
}

/*Card section*/
.cards {
    width: 550px;
    display: flex;
    flex-wrap: nowrap;
    flex: 0 0 auto;
    overflow-y: auto;
    position: relative;
}

.card {
    width: 175px;
    display: flex;
    flex: 0 0 auto;
    position: relative;
    margin: 0 10px;

}

.card .sold {
    position: absolute;
    left: 10px;
    top: 10px;
    background: #FFFFFF;
    border-radius: 2px;
    padding: 10px;
}

.card--img {
    width: 100%;
    height: 230px;
    border-radius: 8px;
}

.card .card--info {
    display: flex;
    align-items: center;
}

.card .card--star {
    height: 14px;
}